#root {
  max-width: 1000px;
  margin: 0 auto;
}

.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
}

thead {
  td {
    font-weight: bold;
    font-size: 0.8em;
  }
}

td {
  padding: .5em .3em;

  &.numerical {
    width: 100px;
  }
}

tbody {
  td.numerical {
    text-align: center;
  }
}

tbody tr:nth-child(odd) {
  background-color: rgb(237, 237, 237);
}

td.direction-desc.active {
  &:after {
    content: '👇';
    display: inline-block;
  }
}
td.direction-asc.active {
  &:after {
    content: '👆';
    display: inline-block;
  }
}

.pagination-links {
  li {
    display: inline-block;
    margin: 0 1em;
  }
}

#search-widget {
  position: relative;
  min-width: 250px;
  text-align: right;
}

#search-autocomplete {
  position: absolute;
  right: 0;
  padding: 1em;
  background: white;
  border: 1px solid #b3b3b3;
  text-align: left;

  li {
    padding-bottom: 0.5em;
    list-style: none;
    font-size: .9em;
  }
}