#root {
	--bp-large: 900px;

	--top-container: #048C8C;
	--bottom-container: #C9F2F2;
	--ui-dark: #006161;
	--ui-dark-rgb: 0 97 97;
	--ui-yellow: #EEAE0A;
	--header-inline-padding: 16px;
	--content-inline-padding: 26px;
	--header-block-padding: 18px;
	--page-block-gutter: 30px;

	--fs-base: 19px;
	--fs-h1: 1.74em; //33
	--fs-em: 0.79em; //15
	--fs-table: 0.74em; //13
	--fs-label-small: 0.63em; //12
}

@import url("styles/html.css");
@import url("styles/forms.css");

#app-container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 60px;
	padding-top: var(--page-block-gutter);
	padding-bottom: var(--page-block-gutter);
	font-size: var(--fs-base);
}

//large header section
#search-widget,
.filter-buttons,
#search-parsers,
.pager.large,
.title-description,
.header-page-title,
.sort-controls,
#search-info {
	padding-left: var(--header-inline-padding);
	padding-right: var(--header-inline-padding);
	background-color: var(--top-container);
	color: white;
}

#main-content {
	margin-top: var(--page-block-gutter);
	padding: var(--header-block-padding) var(--content-inline-padding);
	background-color: var(--bottom-container);
}

//top container: tuck up first elements
.filter-buttons,
#app-container .header-page-title,
#search-info {
	margin-top: calc(var(--header-block-padding) * -1 - 30px);
}

#site-title {
	position: absolute;
	left: -208px;
	transform: rotate(-.25turn);
	transform-origin: right top;
	font-size: 2.21em;
	font-weight: bold;

	a {
		color: var(--bottom-container);
	}
}

header {}

header nav,
.bm-menu nav {
	ul {
		padding-left: 0;
	}

	li {
		display: inline-block;
		margin: 0 1em;
	}

	a {
		display: block;
		color: var(--bottom-container);
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.filter-buttons {
	h2 {
		margin: 0;
	}

	select {
		// padding: 5px 36px 5px 10px;
		// font-size: 1em;
		// border-radius: 17px;
	}
}

.page-title,
.header-page-title {
	margin: 0;
}

.title-description {
	padding-top: .75em;

	em {
		font-size: var(--fs-em);
		font-weight: 100;
	}
}

#search-parsers {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;

	.search-box {
		flex: 1.2;
	}

	input[type="text"] {
		width: 89%;
		font-size: 1em;
	}

	input[type="reset"] {
		--size: 11px
	}

	.parsers {
		flex: 1;
		font-size: var(--fs-label-small);

		.checkbox {
			display: inline-block;
			margin-bottom: 5px;
		}
	}
}

#search-info {
	h2 {
		margin-top: 0;
	}
}

.sort-controls {
	// padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}

.pager {
	&.large {
		padding-bottom: 20px;
	}

	#main-content & {
		margin-top: 30px;
	}

	ul {
		margin: 0;
		padding: 0;

		a {
			cursor: pointer;
		}
	}

	.totals {
		font-size: var(--fs-em);

		em {
			font-weight: 300;
		}
	}

	ul+.totals {
		margin-top: 15px;
	}

	.select {
		&::after {
			// --size: 9px;
			// top: 5px;
		}
	}

	select {}
}

table {
	box-sizing: border-box;
	width: 100%;
	border-spacing: 7px 7px;
	font-size: var(--fs-table);
}

tr {}

td {
	margin: 0 10px;
	padding: .4em .5em;
	border: none;

	&.numerical {
		width: 5em;

		.score-wheel {
			--size: 23px;
		}
	}

	&.sorting-col {
		color: var(--ui-dark);
		cursor: pointer;
	}
}

thead {
	td {
		padding-top: 0;
		padding-bottom: 0;
		font-weight: bold;
	}
}

tbody {
	td.numerical {
		text-align: center;
	}
}

tbody tr:nth-child(odd) {
	background-color: rgb(255 255 255 / .35);
}

td.direction-desc.active {
	&:after {
		content: '👇';
		display: inline-block;
	}
}

td.direction-asc.active {
	&:after {
		content: '👆';
		display: inline-block;
	}
}

td.favourite {
	padding: 0;
	text-align: center;


}

a.favourite {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0;
	background: url('/assets/icons.svg#star') no-repeat;
	vertical-align: middle;

	&.active {
		background-image: url('/assets/icons.svg#star-on');
		background-size: 28px 28px;
		background-position: center -5.5px;
	}
}

.data-list {
	&.pending {
		display: none;

		& thead {
			// display: none;
		}
	}

	.favourite-label {
		display: none;
	}

	.data-label {
		display: none;
	}
}

.score-wheel {
	--size: 200px;
	--score: 90;

		//brown 30; green 95;
	--hue: calc((var(--score)/100) * 65 + 30);
	--col: hsl(var(--hue), 62%, 55%);
	position: relative;
	display: inline-block;

	.dial {
		--circle-score: calc((var(--score)/100) * 360);
		width: var(--size);
		height: var(--size);
		background: conic-gradient(var(--col) calc(var(--circle-score)*1deg), #0000 calc(var(--circle-score)*1deg) 360deg);
		border-radius: 50%;
		mask: radial-gradient(calc(var(--size)/2.5), #0000 99%, #000);
	}

	.number {
		position: absolute;
		top: 0.35em;
		left: 0.4em;
		display: inline-block;
		font-size: calc(var(--size) / 1.9);
		font-weight: bold;
		color: var(--col);
	}

	&.perfect {
		.number {
			top: 0.65em;
			left: 0.45em;
			font-size: calc(var(--size) / 2.6);
		}
	}
}

.pagination-links {
	li {
		display: inline-block;
		margin: 0 .75em;
	}
}

#search-widget {
	min-width: 250px;
	padding-bottom: var(--header-block-padding);
	padding-top: var(--header-block-padding);
	text-align: right;
}

#search-autocomplete {
	position: absolute;
	z-index: 1001;
	right: 0;
	display: none;
	margin: 0;
	padding: 1em;
	background: var(--bottom-container);
	border: 1px solid var(--ui-dark);
	text-align: left;

	&.active {
		display: block;
	}

	li {
		padding-bottom: 0.5em;
		list-style: none;
		font-size: .9em;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.throbber {
		width: 50px;
		height: 50px;
	}
}

main.page-title {
	h1 {
		margin-top: 0;
		margin-bottom: 0.2em;
	}

	.content {
		font-size: .9em;
	}

	a.favourite {
		margin-left: 5px;
	}

	.media-type {
		display: block;
		margin-bottom: 1em;
	}

	.scores {
		display: flex;
		margin: 1em 0;

		.score {
			margin-right: 20px;
		}
	}

	.score-wheel {
		display: inline-block;
		--size: 30px;
		vertical-align: middle;
	}
}

form.login {
	margin-left: auto;
	margin-right: auto;

	input {
		margin-bottom: 1em;
	}
}

.load-throbber,
.pending::after {
	@keyframes maskAnimation {
		100% {
			mask-position: 100% 100%;
		}
	}

	display: block;
	width: 75px;
	height: 75px;
	fill: var(--ui-dark);
	opacity: .2;
	mask: radial-gradient(#0101014c 20%, #000 50%) 0 0/200% 200%;
	animation: maskAnimation 1.5s cubic-bezier(0.68, 0.04, 0.39, 1.01) infinite alternate;
}

.error-throbber {
	display: block;
	width: 75px;
	height: 75px;
	fill: var(--ui-dark);
	opacity: .2;
}

.pending::after {
	content: '';
	position: absolute;
	top: 50px;
	left: 45%;
	display: block;
	display: none;
}

#main-content .throbber {
	margin: 0 auto;
	padding-top: 30px;
}

//menu
/* Position and sizing of burger button */
.bm-burger-button {
	position: absolute;
	// width: 36px;
	// height: 30px;
	right: -103px;
	top: 27px;
	display: inline-block;
	transform-origin: left top;
	transform: rotate(.25turn);

	#menu-text {
		margin: 0;
		color: var(--ui-yellow);
		font-size: 2.21em;
	}
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100%;
	top: 0;
}

/* General sidebar styles */
.bm-menu {
	background: rgb(24, 24, 24);
	mix-blend-mode: multiply;
	padding: 2.5em .5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	// background: rgba(0, 0, 0, 0.3);
	background-color: transparent !important;
}

@media screen and (max-width: 900px) {
	#app-container {
		padding: 0 17px;
	}

	#main-content {
		padding: 10px;
	}

	#site-title, .bm-burger-button #menu-text {
		font-size: 1.5em;
	}

	#site-title {
		position: relative;
		left: 0;
		transform: none;
	}

	.bm-burger-button {
		// position: relative;
		top: 0;
		right: 17px;
		transform: none;
	}

	//untuck for mobile
	.filter-buttons, #app-container .header-page-title, #search-info {
		margin-top: 0;
	}

	#search-parsers  {
		flex-direction: column;

		.parsers {
			margin-top: 20px;
		}
	}

	td, tr {
		display: block;
	}

	td.numerical {
		width: auto;
	}

	.data-list {
		thead {
			display: none;
		}

		tr {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			margin-bottom: 10px;
			padding: 10px;
		}

		td {
			margin-left: 0;
			margin-right: 10px;
			padding-left: 0;
			padding-right: 0;
		}

		.data-label {
			display: inline;
			margin-right: 6px;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			color: var(--ui-dark);
			opacity: .35;
		}

		.score-wheel {
			vertical-align: middle;
		}

		td.title {
			width: 90%;
			font-size: 18px;
		}

		td.numerical {
			// width: 100%;
			// text-align: left;
			padding: 3px 0;
		}

		td.empty {
			display: none;
		}

		td.favourite {
			position: absolute;
			top: 8px;
			right: 0;
		}

		.scrape-date {
			display: none;
		}
	}
}