input[type="text"], input[type="password"] {
	box-sizing: border-box;
	padding: 0.5em 1.5em .5em .5em;
	border: 1px solid rgb(var(--ui-dark-rgb));
	background-color: rgba(255, 255, 255, 0.46);

	&::placeholder {
		color: rgba(var(--ui-dark-rgb) / .35);
	}

	&:focus-visible {
		outline: none;
	}

	& + input[type="reset"] {
		--size: 9px;
		position: relative;
		display: inline-block;
		width: var(--size);
		height: var(--size);
		/* left: calc(var(--size) * -1.7);*/
		/* top: calc(var(--size) * -.4);  */
		/* margin-left: calc(var(--size) * -1.9); */
		border: none;
		background: url('/assets/icons.svg#x') center center/contain no-repeat;
		font-size: 0;
		cursor: pointer;
	}
}

.text-reset {
	position: relative;
	display: inline-block;

	& input[type="text"] {
		width: 100%;
	}

	& input[type="text"] + input[type="reset"] {
		position: absolute;
		top: calc(50% - var(--size)/2);
		right: calc(var(--size) * .8);
	}
}

label.checkbox, select {
	margin-right: 10px;
	padding: .2em .4em;
	background-color: var(--ui-dark);
	border-radius: .6em;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	text-wrap: nowrap;
	/* font-size: var(--fs-label-small); */
	cursor: pointer;
}

input[type="checkbox"] {
	--size: 15px;
	display: inline-block;
	margin-right: 5px;
	width: var(--size);
	height: var(--size);
	border: 1px solid rgba(255 255 255 / .12);
	border-radius: 50%;
	appearance: none;
	cursor: pointer;

	&:checked {
		border: 2px solid white;
		background-color: var(--top-container);
	}
}

label.checkbox {
	padding: 0.2em 0.9em 0.2em 0.5em;
	border-radius: .9em;
	line-height: 1;

	& input[type="checkbox"] {
		/* vertical-align: -.4em; */
		vertical-align: calc(var(--size)/-2.5);
	}
}

select {
	/* border-radius: 17px; */
	font-size: 1em;
	color: white;
	text-transform: none;
	appearance: none;

	&:focus-visible {
		outline: none;
	}
}

.select {
	position: relative;
	margin-right: .5em;

	& select {
		margin-right: 0;
		padding-right: 1.5em;
	}

	&::after {
		--size: 10px;
		content: '';
		position: absolute;
		top: calc(50% - .3em);
		right: .4em;
		width: .6em;
		height: .6em;
		max-width: 11px;
		/* max-height: 11px; */
		background: url('/assets/icons.svg#caret') no-repeat;
		/* font-size: 20px; */
		pointer-events: none;
	}
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

@media screen and (max-width: 900px) {
	.select {
		& select {
			
		}
	}
}